.ul-tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 2em;
  overflow: scroll;
}

button {
  padding: 5px 15px;
  font-weight: 700;
  background: black;
  color: white;
  white-space: nowrap;
}

button:hover {
  cursor: pointer;
}
button[aria-selected='true'] {
  color: white;
  background: #555
}
